<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>show-board</servlet-name>
    <servlet-class>ShowBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>show-board</servlet-name>
    <url-pattern>/showboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add-viewcount</servlet-name>
    <servlet-class>AddViewCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add-viewcount</servlet-name>
    <url-pattern>/addviewcount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cc</servlet-name>
    <servlet-class>CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cc</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyPage</servlet-name>
    <servlet-class>MyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyPage</servlet-name>
    <url-pattern>/MyPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PartIn</servlet-name>
    <servlet-class>PartInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartIn</servlet-name>
    <url-pattern>/PartIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>save-newevent</servlet-name>
    <servlet-class>SaveNewEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>save-newevent</servlet-name>
    <url-pattern>/savenewevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>remove-event</servlet-name>
    <servlet-class>RemoveEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove-event</servlet-name>
    <url-pattern>/removeevent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckMatch</servlet-name>
    <servlet-class>CheckMatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMatch</servlet-name>
    <url-pattern>/CheckMatch</url-pattern>
  </servlet-mapping>
</web-app>